.container-form-agenda {
    margin-top: 40px;
    width: 756px;
    height: 102px;
    padding: 10px;
    border: 1px solid;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container-form-campos-agenda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.div-label-input-form-agenda {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.label-form-agenda {
    font-size: 18px;
}

.input-form-agenda {
    padding-left: 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
}

.container-form-button-agenda {
    margin-top: 8px;
    width: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.button-form-agenda {
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #2c73d2;
    color: white;
    height: 30px;
    width: 80px;
    font-size: 16px;
}

.container-notificacoes-agenda {
    margin-top: 5px;
    height: 30px;
    border: 1px solid;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.grid-table-agenda {
    padding: 5px;
    border: 1px solid;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 18px;
}

.grid-table-th-agenda {
    text-align: start;
    border-bottom: inset;
}

.grid-table-td-agenda {
    text-align: start;
}

.grid-table-button-agenda {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgb(245, 51, 51);
    color: white;
    height: 20px;
}