.container-form-corte {
    margin-top: 30px;
    width: 744px;
    height: 260px;
    padding: 15px;
    border: 1px solid;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container-form-campos-corte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.div-input-form-corte {
    display: flex;
    flex-direction: column;
    padding: 7px 5px;
}

.label-form-corte {
    font-size: 20px;
}

.input-form-corte {
    padding: 0 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
}

.container-form-button-corte {
    margin-top: 05px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
}

.button-form-corte {
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #2c73d2;
    color: white;
    height: 30px;
    width: 80px;
    font-size: 16px;
}

.container-notificacoes-corte {
    margin-top: 10px;
    width: 800;
    height: 30px;
    padding: 5px;
    border: 1px solid;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.grid-cortes-table {
    border: 1px solid;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 18px;
}

.grid-cortes-table-th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
}

.grid-cortes-table-td {
    padding-top: 08px;
    text-align: start;
}

.grid-cortes-table-button {
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgb(245, 51, 51);
    color: white;
    height: 25px;
}